rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /{collectionName}/{docId} {
      // Leitura Individual
      allow get: if true;
      
      // Listagem (Queries) - Exige o filtro de groupId por segurança
      allow list: if resource == null || resource.data.groupId != null;
      
      // Criação e Atualização - Exige envio do groupId
      allow create, update: if request.resource.data.groupId != null;
      
      // EXCLUSÃO (Reset) - Permite excluir se o documento existir
      // Isso libera o 'Zerar Grupo' para limpar configurações antigas
      allow delete: if true; 
    }
  }
}
